{% extends 'global/base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col">

      </div>
      <div class="col">
        <div class="card">
          <form class="" action="/accounts/login/" method="post">
            {% csrf_token %}
            <div class="card-body">
              <label for="id_username">Nombre de usuario</label>
              <input type="text" name="username" required id="id_username" class="form-control" autofocus>
              <label for="id_password">Contraseña</label>
              <input type="password" name="password" required autofocus class="form-control" id="id_password">
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-indigo" name="btnEntrar">Entrar</button>
          </form>
        </div>

      </div>
      <div class="col"></div>
    </div>
  </div>

{% endblock content %}
