{% extends 'global/base.html' %}

{% block title %} Cerrar Sesisón {% endblock %}

{% block content %}
  <form method="post" action="/accounts/logout/">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">Cerrar Sesión</button>
  </form>
{% endblock %}
