<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <title>{% block title %} {% endblock %}</title>
</head>
<body>

  {% include 'global/navbar.html' %}

  {% block content %}
  {% endblock content %}
</body>
<script src="{% static 'js/jquery.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/popper.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/bootstrap.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/mdb.min.js' %}" charset="utf-8"></script>
</html>
