<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark" id="primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand coppel-logo" id="primary-text-color" href="/">Coppel</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="navbar-collapse collapse justify-content-between" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li {% if section == 'index' %} class="nav-item active navbar-links" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link navbar-links" href="/" id="secondary-text-color">Inicio <span class="fa fa-home fa-lg"></span></a>
            </li>
            <li {% if section == 'tienda' %} class="nav-item active navbar-links" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link navbar-links" href="{% url 'shop:list' %}" id="secondary-text-color">Tienda  <span class="fa fa-shopping-basket fa-lg"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-links" href="#" id="secondary-text-color">Nosotros <span class="fa fa-users fa-lg"></span></a>
            </li>

            <li class="nav-item">
              <a href="{% url 'cart:cart_detail' %}" class="nav-link navbar-links" id="secondary-text-color">
                Mi carrito
                <span class="fa fa-shopping-cart fa-lg">
              </span><span class="badge indigo">
                {% with total_items=cart|length %}
                  {% if cart|length > 0 %}
                    {{ total_items }}
                  {% else %}
                    0
                  {% endif %}
                {% endwith %}
              </span>
            </a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a id="secondary-text-color" class="nav-link dropdown-toggle navbar-links" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuenta <span class="fa fa-user fa-lg"></span></a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                  {% if not request.user.is_authenticated %}
                    <a class="dropdown-item navbar-links" href="/accounts/login/">Iniciar Sesión</a>
                    <a class="dropdown-item navbar-links" href="#">Registrarse</a>
                  {% else %}
                    <a href="/accounts/logout/" class="dropdown-item navbar-links">Cerrar Sesión</a>
                  {% endif %}
                </div>
            </li>

        </ul>
        <!-- Links -->
</nav>
<!--/.Navbar-->

<style media="screen">
  #primary-color  {
    background-color: rgba(239, 233, 56, 0.8);
  }
  #primary-text-color {
    color: rgb(21, 52, 56);
  }
  #secondary-text-color {
    color: rgb(34, 41, 68);
  }
  .coppel-logo {
    font-size: 24px;
    font-weight: 900;
  }
  .navbar-links {
    font-weight: 400;
  }
</style>
