{% extends 'global/base.html' %}
{% load thumbnail %}

{% block title %} {{product.name}} {% endblock %}

{% block content %}
<div class="container" style="margin-top: 25px;">
  <div class="row">
    <div class="col-4">
      <img class="img-fluid" src="{% if product.image %} {{product.image.url}} {% endif %}" alt="">
    </div>
    <div class="col">
      <h1 style="text-align:center;">{{product.name}}</h1>
      <hr>
      <h2><a href="{{product.category.get_absolute_url}}">{{product.category}}</a></h2>
      <h3>$ {{product.price}}</h3>
      <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" name="addCart" class="btn btn-indigo btn-sm" value="Añadir al carrito">
      </form>
      <hr>
      <p>{{product.description}}</p>
      <hr>
    </div>
  </div>
</div>
{% endblock content %}
